@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');/*topicos*/

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap');

*{
    margin: 0%;
}


:root {
    --cor1: #EDC8B9;
    --cor2: #fcdccf;
    --cor3: #A17C6D;
    --cor4: #B9EDE4;
    --cor5: #5DA195;

    --topicos: 'pacifico';
}

.pai {
    display: flex;
}

.filho {
    align-self: center;
}



body {
    height: 100vh;
    
    
    background-size: cover;
    background: #fcdccf;
}

#botoes_header {
    font-family: 'lato';
    font-weight: bold;
    max-width: 250px;
   /* min-width: ;*/
    text-align: right;
    margin: 25px 20px 0px auto;
}

#botoes_header a {
    display: inline-block;
    text-decoration: none;
    color: rgb(43, 43, 43);
    margin: 10px;
}

#botoes_header a:hover {
    color: rgb(243, 226, 226);
}

header {
    margin: 20px 0px;
    margin-top: 0px;
    padding-left: 20px;
    min-height: 135px;
    max-height: 150px;
    min-width: 100px;
    max-width: 100%;
    background-color: var(--cor1);

}

header > h1 {
    font-family: 'oooh baby';
    color: #756661;
    margin-top: 0px;
    
}

header > h2 {
    text-align: center;
}

#titulo_pg {
    text-align: center;
    min-width: 400px;
    font-size: 2.5em;
    font-family: var(--topicos);
    color: rgb(53, 53, 53);
    margin: 0px 5px;
}

nav#botoes {
    margin: 30px auto;
    text-align: center;
}

nav#botoes a {
    font-family: 'lato';
    font-weight: bold;
    text-decoration: none;
    color: black;
    background-color: #dbb4a4;
    padding: 15px 55px;
    margin: 15px 30px;
}


nav#botoes a:hover {
    background-color: #a0877e;
    color: white;
    transition-duration: 0.3s;
}



.botao {
    border: 1px solid var(--cor3);
    border-radius: 5px;
}


main p {
    font-family: 'Lato';
    font-weight: bold;
    margin: 10px 20px;
}

.bolo {
    background-color: var(--cor3);
    color: black;
    text-align: center;
    max-width: 60px;
    margin: auto;
    padding: 5px;
    border: 3px solid var(--cor5);
    border-radius: 10px;
}

img {
    display: block;
    max-width: 200px;
    margin: auto;
}

footer {
    background-color: rgb(65, 65, 65);
}